// BACKGROUND COLORS

$colorModalBg: #ffffff;

//TEXT COLORS

$colorTextLight: #ffffff;
$colorTextDark: #000000;
$colorTexSecondary: #545454;
$colorTextAccent: #ff001b;
$colorModalTextSecondary: #8c8c8c;

//BUTTONS COLORS

$colorBtnAccent: #ff001b;
$colorBtnLight: #ffffff;